<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>{% block title %}Shopify Application{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

  <script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script src="https://unpkg.com/@shopify/app-bridge"></script>
  <script>
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      apiKey: '{{ api_key }}',
      shopOrigin: '{{ current_shop.myshopify_domain }}',
      forceRedirect: true
    });
    var actions = AppBridge.actions;
    var TitleBar = actions.TitleBar;
    var Button = actions.Button;
    var Redirect = actions.Redirect;

    var titleBarOptions = {
      title: '{{ page_name }}',
    };

    var myTitleBar = TitleBar.create(app, titleBarOptions);
  </script>
</head>

<body>
  <div class="header">
    <h1><a href="{% url 'app:index' %}">Duplicate Products Inv. Sync</a></h1>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% block content_left %}{% endblock %}
        <div class="col-md-6">
            {% block content_right %}{% endblock %}
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="{% static 'js/client.js' %}"></script>

  {% block javascript %}{% endblock %}
</body>
</html>
